---
import logo from "/src/assets/logo-white-text.svg";
---

<footer aria-label="Site Footer" class="bg-gray-800">
  <div class="py-8 mx-auto main-content sm:px-6 lg:px-8">
    <div class="sm:flex sm:items-center sm:justify-between">
      <div class="flex justify-center text-teal-600 sm:justify-start">
        <img src={logo} width="80" height="64" alt="descriptive text" />
      </div>

      <p class="mt-4 text-sm text-center text-gray-300 lg:mt-0 lg:text-right">
        Copyright &copy; 2023. All rights reserved.
      </p>

      <p class="mt-4 text-sm text-center text-gray-300 lg:mt-0 lg:text-right">
        <a href="javascript:window.showCustomizeCookiesDialog()">Cookies</a>
      </p>
    </div>
  </div>
</footer>
