---
import SecurityScanForm from "./subcomponents/SecurityScanForm.astro";

// @ts-ignore
import { Img } from "astro-imagetools/components";
---

<section
  class="relative flex flex-col justify-center w-full px-0 rounded-lg md:px-4 z-1 main-content"
  id="SecurityScan"
>
  <div class="absolute z-0 transform -translate-x-1/2 -top-12 left-1/2">
    <Img
      src="src/assets/security-icon.png"
      width="100"
      alt="descriptive text"
    />
  </div>
  <div
    class="px-4 pt-20 pb-10 rounded-lg shadow-2xl shadow-black bg-gradient-to-br to-sky-700 via-blue-900 from-sky-900 bg-opacity bg-clip-padding border-gray-300/50"
  >
    <div class="pb-12">
      <h2 class="mb-4 header-1">Check your site's security</h2>
      <p class="ordinary-text">Lorem ipsum</p>
    </div>
    <SecurityScanForm />
  </div>
</section>
