---
import SeoContentItem from "./subcomponents/SeoContentItem.astro";

const motivations = [
  {
    title: "Tools we use",
    description:
      "At this moment, our scanner is based on nmap and wapiti3, but we are constantly improving to give you best quality experience with secure, fast and easy to manage websites.",
  },
  {
    title: "Redirects",
    description:
      "Redirects are a common target of open redirect attacks. Our tool analyzes any redirects on your site, making sure there are no vulnerabilities that could lead users to dangerous sites.",
  },
  {
    title: "Cross-Site Scripting",
    description:
      "The XSS module screens your site for potential vulnerabilities related to malicious code injection. This prevents attackers from using your site to redirect users to infected sites or steal sensitive data.",
  },
  {
    title: "SSL",
    description:
      "Correct SSL certificates are the key to secure communication between your site and your users. Our SSL module thoroughly checks certificates, making sure your customers are protected from possible Man-in-the-Middle attacks.",
  },
  {
    title: "HTTP Headers",
    description:
      "HTTP headers are a key part of your site's security. Our tool checks these headers, verifying that they are configured correctly, minimizing the risk of attacks.",
  },
  {
    title: "Cookie Flags",
    description:
      "Improperly secured cookies can lead to serious threats. We analyze cookie flags to protect users from possible attacks on session data.",
  },
  {
    title: "Service Version Detection",
    description:
      "Nmap analyzes server responses and extracts software version information. This enables you to monitor and update software versions, ensuring you're using the latest and most secure releases.",
  },
  {
    title: "CSP",
    description:
      "CSP is an additional layer of security that helps  detect and mitigate certain types of attacks, such as XSS and data injection attacks. These attacks are used for everything from data theft to website defacement to malware distribution.",
  },
  {
    title: "SSRF",
    description:
      "A server-side request forgery is a web  vulnerability that allows an attacker to trick a server-side application into sending a request to an unintended location.",
  },
  {
    title: "Executable Files",
    description:
      "Some executable files can pose a potential risk to your site. Therefore, we check any such files, eliminating the risks associated with their use.",
  },
];
---

<section>
  <h2 class="pb-16 mx-auto text-5xl font-bold uppercase">More about scanner</h2>
  <div class="grid gap-10 px-4 mx-auto lg:(max-w-5xl grid-cols-2)">
    {
      motivations.map((motivation) => (
        <SeoContentItem
          headline={motivation.title}
          description={motivation.description}
        />
      ))
    }
  </div>
</section>
