---
import "../styles/styles.css";
// @ts-ignore
import { ImageSupportDetection } from "astro-imagetools/components";

interface Props {
  title?: string;
  description?: string;
  keywords?: string;
  metaRobots?: string;
}

const {
  title = "",
  description = "",
  keywords = "",
  metaRobots = "",
} = Astro.props as Props;
---

<!DOCTYPE html>
<html class="scroll-smooth" lang="en">
  <head>
    <meta charset="UTF-8" />
    <!--  to musi zawsze być na 1 miejscu w headzie! -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <ImageSupportDetection />

    <link
      rel="preload"
      href="/assets/fonts/Roboto_normal_400.KFOmCnqEu92Fr1Mu7GxKOzY.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <link
      rel="preload"
      href="/assets/fonts/Roboto_normal_400.KFOmCnqEu92Fr1Mu4mxK.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <link
      rel="preload"
      href="/assets/fonts/Roboto_normal_700.KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <link
      rel="preload"
      href="/assets/fonts/Roboto_normal_700.KFOlCnqEu92Fr1MmWUlfBBc4.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <link
      rel="preload"
      href="/assets/fonts/Roboto_normal_900.KFOlCnqEu92Fr1MmYUtfChc4EsA.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <link
      rel="preload"
      href="/assets/fonts/Roboto_normal_900.KFOlCnqEu92Fr1MmYUtfBBc4.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <link href="/assets/styles/fonts.css" rel="stylesheet" />

    <meta http-equiv="Accept-CH" content="DPR, Width, Viewport-Width" />

    <meta
      name="viewport"
      content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0"
    />

    <meta name="keywords" content={keywords} />
    <meta name="robots" content={metaRobots} />
  </head>
  <body>
    <slot />
  </body>
</html>
