<button
  class="px-4 py-2 font-bold text-white bg-blue-500 rounded-full hover:bg-blue-700"
  id="scanCreateErrorModalButton"
>
  SCR
</button>

<div
  class="fixed inset-0 z-50 flex items-center justify-center hidden px-4"
  id="scanCreateErrorModal"
>
  <!-- Overlay -->
  <div class="fixed inset-0 bg-black opacity-50" id="scanCreateErrorBackground"></div>

  <div
    class="z-50 mx-auto overflow-y-auto bg-red-800 border shadow-lg w-100 rounded-xl modal-container md:max-w-md"
  >
    <div class="flex flex-col gap-4 p-4 text-left">
      <h3 class="text-2xl font-bold uppercase">something got wrong</h3>
      <p class="max-w-lg mb-2">
        It seems that the scanner is not available at the moment. Please try again later or contact us via the contact form.
      </p>

      <p class="max-w-lg mb-2">

      We apologize for the inconvenience
      </p>
    </div>
  </div>
</div>

<script>
  const openModalButton = document.getElementById(
    "scanCreateErrorModalButton"
  ) as HTMLButtonElement;
  const modal = document.getElementById(
    "scanCreateErrorModal"
  ) as HTMLModElement;
  const modalBackground = document.getElementById("scanCreateErrorBackground");

  modal.classList.remove("hidden");

  openModalButton.addEventListener("click", () => {
    modal.classList.remove("hidden");
  });

  window.addEventListener("click", (e) => {
    if (e.target === modalBackground && !modal?.classList.contains("hidden")) {
      modal.classList.add("hidden");
    }
  });
</script>
