---
import FAQcard from "./FAQcard.astro";
---

<div class="grid w-full max-w-6xl grid-cols-1 gap-4 pb-20">
  <FAQcard question={"Lorem ipsum"} answer={"Lorem ipsum"} />
  <FAQcard question={"Lorem ipsum"} answer={"Lorem ipsum"} />
</div>
