---
interface Props {
  headline: string;
  description: string;
}

const { headline, description } = Astro.props;
---

<div
  class="grid gap-4 p-4 mx-auto border border-2 border-gray-600 max-w-120 bg-gray-600/40 rounded-xl"
>
  <h2 class="flex justify-center h-12 text-2xl font-bold capitalize">
    {headline}
  </h2>
  <p class="h-full text-gray-300 min-h-30">{description}</p>
</div>
