---
import Layout from "@layouts/Layout.astro";
import Nav from "@components/Navbar/Nav.astro";
import Footer from "@components/Footer.astro";
// @ts-ignore
import { BackgroundImage } from "astro-imagetools/components";
import SecurityScan from "@components/SecurityScan.astro";
import Hero from "@components/Hero.astro";
import FAQsection from "@components/FAQsection.astro";
import StepByStep from "@components/StepByStep.astro";
import SeoContent from "@components/SeoContent.astro";
import Motivation from "@components/Motivation.astro";
---

<Layout title="Security scanner" description="Lorem ipsum">
  <Nav enableScrollFunction="true" />

  <main class="flex flex-col min-h-screen mx-auto lg:mt-40 gap-28 lg:gap-40">
    <Hero />
    <Motivation />
    <StepByStep />
    <SecurityScan />
    <SeoContent />
    <FAQsection />
  </main>
  <div class="mt-auto">
    <Footer />
  </div>
</Layout>
