---
import Layout from "@layouts/Layout.astro";
import Nav from "@components/Navbar/Nav.astro";
import Footer from "@components/Footer.astro";
const agree = "/src/assets/agreement.png";
// @ts-ignore
import { Img } from "astro-imagetools/components";
---

<Layout>
  <div class="mb-10 lg:mb-20">
    <Nav />
  </div>
  <main
    class="flex flex-col mx-auto max-w-6xl min-h-screen p-4 gap-12 items-center xl:(p-0 gap-28)"
  >
    <div class="mt-10">
      <div class="flex flex-col items-center gap-4">
        <h1 class="mb-2 header-1">we appreciate your trust</h1>
        <Img src={agree} alt="descriptive text" width={200} />
        <p class="max-w-lg mb-2">
          Thank you for choosing to check your site's security with our tool. In
          order for the scan to begin, we need to verify the email address you
          provided. Enter below the test ID and code from the email we sent you.
        </p>
      </div>
    </div>
  </main>
  <div class="mt-auto">
    <Footer />
  </div>
</Layout>
